:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

/* Styling the entire scrollbar */
::-webkit-scrollbar {
  width: 0.25rem;
}

/* Styling the track (part the scrollbar moves within) */
::-webkit-scrollbar-track {
  background: #1e1e24;
}

/* Styling the handle (part that moves) */
::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* Styling the handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Handle color on hover */
}

main {
  /* margin-left: 5rem; */
  /* margin-right: 5rem; */
  /* flex-wrap: wrap; */
  padding: 1rem;
  background-color: var(--bg-primary);
}

.containerCustom {
  display: flex;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  /* overflow: scroll; */
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

/*major changes*/

.scroll-container {
  width: 100%; /* Full width of the viewport or parent */
  height: 100vh; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  /* border: 1px solid #ddd; Optional: for visual boundary */
}

/*card styling*/
a:hover {
  background-color: #141418;
  color: #df49a6 !important;
}

/* .form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
} */

.card {
  width: 15rem;
  transition: transform 200ms ease-in;
  /* box-shadow: 5px 5px 5px hsla(0, 38%, 94%, 0.2); */
  box-shadow: 10px 10px 10px hsla(0, 38%, 94%, 0.2);
  max-height: 500px;
  max-width: 250px;

  &:hover {
    transform: scale(1.02);
  }
  /* &:hover &__btn {
    background: red;
    color: white;
  } */
}

/* .card-img {
  max-height: 200px;
  max-width: 250px;
} */

/* form {
  background-color: #ffffff1a;
} */

.fixed-container {
  position: sticky; /* Fixed relative to the parent container */
  top: 0; /* Stick to the top of the row */
  /* background-color: #f5e5b8; */
  background: var(--bg-secondary);
  /* border-bottom: 1px solid #ddd; */
  z-index: 10; /* Ensures it stays above other content */
  /* padding: 10px; */
}

.fixed-item {
  margin-bottom: 3px;
}

.pagination {
  display: flex;
  gap: 5px;
}

.pagination a {
  display: inline-block;
  text-decoration: none;
}

.pagination svg {
  fill: #000; /* Adjust color as needed */
}

.pagination img {
  display: block; /* Ensure image is rendered correctly */
}
